.dance-video{
    float: left;
    margin-top: 80px;
    margin-left: 60px;
}

.players{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 10px;
    font-family: pt sans;
}
