.videobox {
	margin: 10px;
	width: 500px;
	height: 175px;
}
.videoElement {
	width: 500px;
	height: 175px;
}
.videobox2 {
	margin: 10px;
	width: 500px;
	height: 175px;
}
.videoElement2 {
	width: 500px;
	height: 175px;
}
.videobox3 {
	margin: 10px;
	width: 500px;
	height: 175px;
}
.videoElement3 {
	width: 500px;
	height: 175px;
}
.videobox4 {
	margin: 10px;
	width: 500px;
	height: 175px;
}
.videoElement4 {
	width: 500px;
	height: 175px;
}