.title-screen{
  background-image: url("title.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}


.start-button{
  display:flex;
  justify-content: center;
  padding-top: 35%;
  padding-bottom: 12%;
}

.button{
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  text-decoration: none;
  border-style: solid;
  border-color:white;
  border-width: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.button:hover{
  color: white;
  border-color: white;
  background-color: #00f5ff;
}


